{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<title>Leonardo Costa</title>
<meta content="Portifólio e blog pessoal de Leonardo Matheus de Abreu Costa, desenvolvedor de software." name="description">
<meta content="portfolio, trabalhos, blog, desenvolvedor, developer, software" name="keywords">

{% endblock extra_head %}

{% block content %}
  <div class="d-flex w-100 align-items-center flex-column fixed-top">
      <div class="alert alert-warning alert-dismissible fade show mt-4 mb-0 d-inline-block" role="alert" style="width: max-content;">
          <i class="bi bi-cone-striped"></i>
          <strong>Opa!</strong> Este site ainda está em construção.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </div>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Leonardo Costa</h1>
        <p>Eu sou desenvolvedor <span class="typed" data-typed-items="web, Django, fullstack"></span></p>
        <div class="social-links">
          {% for item in social_media %}
            <a href="{{ item.link }}" class="{{ item.getIcon }}"><i class="bi bi-{{ item.getIcon }}"></i></a>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Hero -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{{ about_text.title }}</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-4">
              {% if about_text.image %}
              <img src="{{ about_text.image.url }}" class="img-fluid" alt="">
              {% endif %}
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 fs-5 content">
              <h3>{{ about_text.subtitle }}</h3>
              {{ about_text.text|linebreaks }}
              {{ about_text.subtext|linebreaks }}
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Skills Section ======= -->
      <!-- <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{{ skills_text.title }}</h2>
            {{ skills_text.text|linebreaks }}
          </div>
  
          <div class="row skills-content">
            {% for skill in skills %}                
            <div class="progress col-6">
              <span class="skill">{{ skill.name }} <i class="val">{{ skill.percentage }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            {% endfor %}
          </div>
  
        </div>
      </section> -->
      <!-- End Skills Section -->
  
      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title fs-5">
            <h2>{{ resume_text.title }}</h2>
            {{ resume_text.text|linebreaks }}
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Formação</h3>
              {% for formation in formations %} 
              <div class="resume-item">
                <h4>{{ formation.name }}</h4>
                <h5>{{ formation.start_year }} - {{ formation.end_year|default:"Atualmente" }}</h5>
                <p><em>{{ formation.institute }}</em></p>
                {{ formation.description|linebreaks }}
              </div>
              {% endfor %}
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Experiência Professional</h3>
              {% for experience in experiences %} 
              <div class="resume-item">
                <h4>{{ experience.name }}</h4>
                <h5>{{ experience.start_year }} - {{ experience.end_year|default:"Atualmente" }}</h5>
                <p><em>{{ experience.company }}</em></p>
                {{ experience.description|linebreaks }}
              </div>
              {% endfor %}
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title fs-5">
            <h2>{{ portfolio_text.title }}</h2>
            {{ portfolio_text.text|linebreaks }}
          </div>
  
          <!-- <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Tudo</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div> -->
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            {% for portfolio in portfolios %}   
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ portfolio.category }}">
              <div class="portfolio-wrap">
                <img src="{{ portfolio.image.url }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{ portfolio.name }}</h4>
                  {{ portfolio.description|linebreaks }}
                  <div class="portfolio-links">
                    <a href="{{ portfolio.link }}" class="portfolio-details-lightbox" data-glightbox="type: external" title="{{ portfolio.name }}">
                      <i class="bx bx-link"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Testemunhos</h2>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              {% for testimonial_text in testimonial_texts %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src='{{ testimonial_text.image|default:"https://beforeigosolutions.com/wp-content/uploads/2021/12/dummy-profile-pic-300x300-1.png" }}' class="testimonial-img" alt="">
                  <h3>{{ testimonial_text.title }}</h3>
                  <h4>{{ testimonial_text.subtitle }}</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ testimonial_text.text }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contato</h2>
          </div>
  
          <div class="row mt-1">
  
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Cidade:</h4>
                  <p>{{ settings.city }}</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>E-mail:</h4>
                  <p>
                    <a href="mailto:{{ settings.email }}">{{ settings.email }}</a>
                  </p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Telefone:</h4>
                  <p>
                    <a href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
                  </p>
                </div>
  
              </div>
  
            </div>
  
            <div class="col-lg-8 mt-5 mt-lg-0">
  
              <form method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ form.name }}
                    {{ form.name.errors }}
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{ form.email }}
                    {{ form.email.errors }}
                  </div>
                </div>
                <div class="form-group mt-3">
                  {{ form.subject }}
                  {{ form.subject.errors }}
                </div>
                <div class="form-group mt-3">
                  {{ form.message }}
                  {{ form.message.errors }}
                </div>
                <div class="my-3">
                  <div class="loading">Carregando</div>
                  {% for message in messages %}
                  <div class="{% if message.tags == 'error' %}error-message{% else %}sent-message {% endif %}">{{ message.message }}</div>
                  {% empty %} <!-- Sem mensagens -->
                  {% endfor %}
                </div>
                <div class="text-center">
                  <button type="submit">Enviar mensagem</button>
                </div>
              </form>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->  
{% endblock content %}