body {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 0%,
    rgb(1, 0, 15) 100%
  );
}
.modelos{
  display: none;
}
.navbar-brand {
  width: 9rem;
}
#MainPic {
  width: 25rem;
  border-radius: 16rem;
}
.RedeSocialLogo {
  width: 3rem;
}
.mouseHashtag {
  display: none;
}
.anchor-link {
  text-decoration: none;
  opacity: 0;
  transition: all 1s;
}
.anchor-link:hover{
  content: "#";
  opacity: 0.8;
  color: white;
  font-weight: 600;
}
.anchor-link::after {
  content: "#";
  opacity: 1;
}
#leokid {
  aspect-ratio: 3/2;
}
#leokid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text-bio {
  font-size: larger;
}
.formationLogo {
  width: 30px;
  height: auto;
  margin-left: 10px;
}
.modelo-formation {
  margin: 20px 0px;
}
.formation-text {
  font-size: 1.5rem;
  font-weight: 200;
}
.carousel-inner .carousel-item img {
  object-fit: contain;
}
footer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding-bottom: 2rem;
}
footer a {
  color: white !important;
}
@media screen and (min-width: 960px) {
  .contato {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 541px) and (max-width: 959px) {
  .contato {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .contato {
    margin-left: 0.5rem;
  }
}
.card-achievements-img {
  object-fit: contain;
}

/* Achievements */
.container-Image {
  width: 100%;
}
.mainPic {
  object-fit: contain;
}
.col-figure {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
@media screen and (min-width: 992px) {
  #mainPic {
    height: 500px;
  }
}
.mute-link {
  color: inherit;
}